<html>

<head>
  <title>LDA Demo</title>
  <meta charset="UTF-8" />
</head>

<body style="height: 100%">
  <div id="app">
    <b-navbar variant="primary" type="dark">
      <b-navbar-brand>LDA</b-navbar-brand>
    </b-navbar>
    <div class="container-fluid">
      <div class="d-flex">
        <b-btn variant="primary" @click="calc">計算</b-btn>
        <b-input-group style="width:200px;" prepend="topK">
          <b-form-input type="number" v-model="topk" :min="1"></b-form-input>
        </b-input-group>
        <b-input-group style="width:200px;" prepend="terms">
          <b-form-input type="number" v-model="terms" :min="1"></b-form-input>
        </b-input-group>
        <b-input-group style="width:200px;" prepend="random">
          <b-form-input v-model="random"></b-form-input>
        </b-input-group>
      </div>
      <div class="row">
        <b-card class="col-6">
          <b-form-textarea v-model="text" :rows="20" />
        </b-card>
        <b-card class="col-6">
          <b-form-textarea v-model="logText" :rows="20" />
        </b-card>
      </div>
    </div>
  </div>

  <script src="./src/index.js"></script>
</body>

</html>
